#app {
  height: 100vh;
  padding-bottom: 100px;
  width: 100vw;

  .header {
    font-family: "Lilita One", sans-serif;
    font-size: 40px;
    padding: 20px 0;
    text-align: center;
  }

  #phone {
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    height: 570px;
    margin: 10px auto;
    width: 300px;

    #phone-header {
      border-style: solid;
      border-width: 2px;
      height: 10%;
      margin: 5%;
      text-align: center;
    }

    #buttons {
      height: 50%;
      margin: 0 auto 25% auto;
      width: 95%;

      .button-row {
        display: flex;
        flex-direction: row;
        height: 33.3%;
        justify-content: space-around;
        width: 100%;

        div {
          border-style: solid;
          border-width: 1px;
          display: flex;
          flex-direction: column;
          font-size: 20px;
          height: 100%;
          justify-content: space-around;
          text-align: center;
          width: 100%;

          &:hover {
            background-color: rgba(0, 0, 0, 0.5);
            cursor: pointer;
          }
        }
      }
    }
  }

  #needs {
    #needs-list {
      margin: 0 auto;
      width: 50%;

      .need-item {
        background-color: lightgrey;
        border-radius: 10px;
        padding: 10px;
        text-align: center;
      }
    }
  }

  .header-shot {
    border-radius: 20px;
    height: 600px;
    margin: 0 auto;
    overflow: hidden;
    width: 300px;
  }

  .headers {
    margin: 0 auto;
    width: 50%;

    .header-item {
      .header-item-header {
        font-size: 30px;
      }

      ul {
        li {
          margin-bottom: 20px;

          strong {
            color: red;
          }
        }
      }
    }
  }
}
